<%= provide(:title, "Baltic Love") %>


<%= render "main" %>


<div class="container mt-4">
  <div class="row align-items-start pb-5 border-bottom border-dark">
  <div class="col " style='min-height:467px'>

        <%=render 'meetgreet'%>
        </div>

  <div class="col border-start border-dark">
        <%=render 'vip'%>

  </div>
  <div class="container d-flex justify-content-center">
<%=link_to 'Sign In', new_datum_url, data:{turbo_frame: 'meetgreet_form'},class:'btn text-light mx-auto mb-3 shadow-lg',style: 'background-color:rgb(212,15,174); scale:1.5'%> 
</div>
<%=turbo_frame_tag 'meetgreet_form'%>
    </div>
</div>