<h1 class='text-center'>Welcome admin: <%= current_admin.email%>!</h1>


<div class="container mt-5">
<div class="row align-items-start">

<div class="col">
<h1 class="text-center">V I P </h1>
<p class="text-center">Quantity: <%= @usersVip.length%></p>

<%=render 'datumVIP'%></div>
<div class="col"><h1 class="text-center">Meet & Greet </h1>
<p class="text-center">Quantity: <%= @usersReg.length%></p>
<%=render 'datumRegular'%>
</div>




</div>


</div>