<h1>New datum</h1>
<%=turbo_frame_tag 'meetgreet_form' do%>
<h3 class='text-center'>Meet & Greet</h3>
<%end%>


<%= render "form", datum: @datum %>

<br>

<%=turbo_frame_tag 'vip_form' do%>

<h3 class='text-center'>V I P</h3>

<%= render'form2', datum: @datum%>

<%end%>





<div>
  <%= link_to "Back to data", data_path %>
</div>
