<p style="color: green"><%= notice %></p>


<h1 class='text-center '>Welcome Aboard <%= @datum.name%></h1>
<p class='text-center fs-6'>Please, check your info below and edit it if necessary. </p>


<div class="container" >
<div class="card mx-auto border border-dark rounded-3 my-4" style='max-width:350px'>
<ul>
<li><strong>Full name:</strong> <%= @datum.name%> <%= @datum.last_name%> </li>
<li><strong>email:</strong> <%= @datum.email%></li>
<li><strong>Phone:</strong> <%= @datum.phone%></li>
<li><strong>Selected Package:</strong> <%= @datum.package%></li>


<li><strong>Answer:</strong> <%= @datum.question == '' || @datum.question == nil ? 'Answer not provided' : @datum.question%></li>



</ul>
</div>


<h3 class='text-center'> If you are ready to find love, wait us, we will be in touch!</h3>


</div>




<%= render @datum %>

<div class='container mx-auto text-light d-flex justify-content-center'>
<%=link_to 'Go to Features!', page_features_url , class:'btn text-light me-5', style:'background-color:rgb(212,15,174);'%>
  <%# link_to "Edit this datum", edit_datum_path(@datum), class:'btn text-light', style:'background-color:rgb(212,15,174);' %> 
  <%= button_to "Delete wrong data", @datum, method: :delete, class:'btn btn-danger text-light' %>
</div>
